$theme-colors: (
  "primary": darkblue
);

@import "bootstrap/scss/bootstrap";

* {
    font-family: Work Sans !important;
    margin: 0;
}

html, body {
    height: 100%;
}

main {
    min-height: 100%;
    margin-bottom: 60px; /* Margin bottom by footer height */
    margin-top: 10px;
    background-color: #f9f9f9;
}

.welcome-section {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    margin-top: -10px;
    padding-top: 10px;
}

.welcome-section img {
    margin-bottom: 20px;
}

.project-section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}

.project-section img {
    width:383px; 
    height:240px;
}

.project-desc {
    display:block;
    margin-top: 20px;
    margin-left:30%;
    margin-right:30%;
}

.project-square {
    overflow:none;
    display:block;
    position:relative;
    margin:auto;
    margin-left:40%;
    margin-right:40%;
    text-align:center;
}

.project-square .title {
    display:none;
    font-weight:bold;
    font-size:20px;
    width: 100%;
    color:white;
    background:black;
    text-align:center;
}

.project-square:hover .title {
    top:40%;
    position:absolute;
    display:table;
    padding:14px 16px;
    animation-name:titleFadeInAnimationOn;
    animation-duration:.5s;
}

.project-square:hover {
    display:block;
    background:black;
    opacity:1;
}

.project-square:hover img {
    opacity:0.7;
    animation-name:projectSquareImgAnimationOn;
    animation-duration:.5s;
}

@keyframes projectSquareImgAnimationOn {
    from {opacity:1}
    to {opacity:0.7}
}

@keyframes titleFadeInAnimationOn {
    from {opacity: 0.0}
    to {opacity: 0.7;}
}

.footer {
    position: relative;
    bottom: 0;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

.footer a {
    text-decoration:none;
    color: white;
}

.footer span {
    color: rgba($white, .5);
}

.skills-list {
    display: flex;
    justify-content: space-between;
}

.skills-list li {
    display: inline-block
}