body {
    background-color:efefef;
    font-family: Verdana;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.center {
    text-align:center;
}

.projectSquare {
    height: 240px;
    width: 383px;
    display:block;
    margin:auto;
    margin-left:40%;
    margin-right:40%;
    text-align:center;
}

a {
    color: #160066;
    text-decoration: none;
}

.nav {
    list-style:none;
    text-align:center;
    background-color: #222222;
}

.nav li {
    display:inline;
}

.nav a {
    display:inline-block;
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #687891;
    color: rgb(235, 235, 235);
}

.nav a.active {
    background-color: #314463;
    color:  rgb(235, 235, 235);
}

.dropdown {
    float:left;
    overflow:hidden;
}

.title {
    display:none;
    font-weight:bold;
    font-size:20px;
    color:white;
    background:black;
    text-align:center;
}

.title a {
    color:rgb(235, 235, 235) !important;
    text-align:center;
}

@keyframes projectSquareImgAnimationOn {
    from {opacity:1}
    to {opacity:0.7}
}

@keyframes titleFadeInAnimationOn {
    from {opacity: 0.0}
    to {opacity: 0.7;}
}

.projectSquare:hover .title {
    width:383px;
    height:30px;
    top:20%;
    position:absolute;
    display:table;
    margin: -9px -16px;
    padding:14px 16px;
    animation-name:titleFadeInAnimationOn;
    animation-duration:.5s;
}

.projectSquare:hover {
    display:block;
    background:black;
    opacity:1;
}

.projectSquare:hover img {
    opacity:0.7;
    animation-name:projectSquareImgAnimationOn;
    animation-duration:.5s;
}

.footer {
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}