body {
    font-family: Verdana;
}

a {
    color: #160066;
    text-decoration: none;
}

.topnav {
    background-color: #222222;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #687891;
    color: rgb(235, 235, 235);
}

.topnav a.active {
    background-color: #314463;
    color:  rgb(235, 235, 235);
}