body {
    font-family: Verdana;
}

a {
    color: #160066;
    text-decoration: none;
}

.nav {
    list-style:none;
    text-align:center;
    background-color: #222222;
}

.nav li {
    display:inline;
}

.nav a {
    display:inline-block;
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #687891;
    color: rgb(235, 235, 235);
}

.nav a.active {
    background-color: #314463;
    color:  rgb(235, 235, 235);
}